name: Swift

on: [push]

jobs:
  build:
    name: Build
    strategy:
      matrix:
        swift: [5.5.3, 5.6.3, 5.7]
        os: [ubuntu-20.04, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Swift
      uses: slashmo/install-swift@v0.3.0
      with:
        version: ${{ matrix.swift }}
    - name: Checkout
      uses: actions/checkout@v2
    - name: Swift Version
      run: swift --version
    - name: Build (Debug)
      run: swift build -c debug
    - name: Build (Release)
      run: swift build -c release

  test-linux:
    name: Test Linux
    strategy:
      matrix:
        swift: [5.5.3, 5.6.3, 5.7]
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Swift
      uses: slashmo/install-swift@v0.3.0
      with:
        version: ${{ matrix.swift }}
    - name: Checkout
      uses: actions/checkout@v2
    - name: Swift Version
      run: swift --version
    - name: Test (Debug)
      run: swift test --configuration debug --enable-code-coverage
    - name: Test (Release)
      run: swift test --configuration release -Xswiftc -enable-testing --enable-code-coverage
    - name: Coverage Report
      uses: maxep/spm-lcov-action@0.3.1

  test-macOS:
    name: Test macOS
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Swift Version
      run: swift --version
    - name: Test (Debug)
      run: swift test --configuration debug --enable-code-coverage
    - name: Test (Release)
      run: swift test --configuration release -Xswiftc -enable-testing --enable-code-coverage
